<div class="row">
  <h1>Hard & Soft skills</h1>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="(70)"
      [radius]="80"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'green'"
      [innerStrokeColor]="'white'"
      [animation]="true"
      [animationDuration]="600"
      [titleColor]="'white'"
      [titleFontSize]="'20'"
      [showUnits]="false"
      [showSubtitle]="false"
    ></circle-progress> 
     <div>
</div>
