<div class="row">
    <div class="container">
<div class="logo">
    <img src="../../../assets/APLogo.png" id="logoAP" alt="Logo Argentina Programa">

</div>
<div class="redes">
    <div>
        <a href="https://wwww.facebook.com/abii.guzman1" target="_BLANK"> <img src="../../../assets/facebook.png" alt="facebook" title="facebook"></a>
                <a href="https://github.com/AbigailGuz" target="_BLANK"> <img src="../../../assets/github.png" alt="github" title="github"></a>
                <a href="https://www.instagram.com/Abigail.guzman2" target="_BLANK"> <img src="../../../assets/instagram.png" alt="instagram" title="instagram"></a>
                <a href="https://www.linkedin.com/in/estela-abigail-guzman-563a4a26a/" target="_BLANK"> <img src="../../../assets/linkedin.png" alt="linkedin" title="linkedin"></a>
                <a href="https://twitter.com/AbigailGuz13" target="_BLANK"> <img src="../../../assets/twitter.png" alt="twitter" title="twitter"></a>
       
        <button type="button" class="btn btn-primary"(click)="login()" *ngIf="!isLogged">INGRESAR</button>
        <button type="button" class="btn btn-primary"(click)="onLogout()" *ngIf="isLogged">CERRAR SESION</button>
    </div>
    
</div>
    </div>
          


